@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Barlow:wght@400;700&family=Bellefair&family=Inter:wght@400;500;700&family=Karla:wght@400;500;700&display=swap');
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; 
  font-family: Barlow , sans-serif;
}
a {
  text-decoration: none;
  color: #fff;
 }
.Cont {
  width: 100%;
  height: 100vh;
  background: url(C:\Users\A\Desktop\Nauka2\ToDoList\src\assets\bg2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  background-repeat: no-repeat;

}
.day-links {
  display: flex;
  gap: 8px;
  margin-top: 8px;
  text-decoration: none;
  list-style-type: none;
  width: 100%;
  justify-content: center;
}
.day-btn {
  text-decoration: none;
  background-color: rgb(38, 128, 131);
  color: #fff;
  font-family: Barlow;
  width: 60px;
  height: 30px;
  text-align: center;
  border-radius: 5px;
  padding-top: 5px;
}


.day-btn-selected{
  background-color: rgb(165, 47, 0);
  text-decoration: none;
  color: #fff;
  font-family: Barlow;
  width: 60px;
  height: 30px;
  text-align: center;
  border-radius: 5px;
  padding-top: 5px;
}
.Main-Conteiner {
  display: flex;
  flex-direction: column;
  width: 550px;
  height: 550px;
  background: linear-gradient(56deg, rgba(248,184,41) 0%, rgba(226,141,23,1) 100%);
  border-radius: 25px;
  opacity: 0.95;
  
}
.Main-Conteiner-Nav {
  display: flex;
  align-items: center;
  width: 100%;
  align-items: flex-start;
  
}
.Main-Conteiner-note {
  display: flex;
  flex-direction: column;
  width: 550px;
  height: 550px;
  background: linear-gradient(56deg, rgba(248,184,41) 0%, rgba(226,141,23,1) 100%);
  border-radius: 25px;
  box-sizing: border-box;
  opacity: 0.95;
  
}
.nav {
 width: 100%;
 align-items: flex-start;
}
.title {
  font-family: Barlow;
  padding-top: 1em;
  color: rgb(32, 60, 61);
  text-align: center;
  font-weight: 400;
  font-size: 30px;
}
.note-title {
  font-family: Barlow;
  font-size: 40px;
  color: rgb(32, 60, 61);
  text-align: center;
  height: 100%;
  margin-top: 54%;
}
.note-category-cont{
  font-family: Barlow;
}
.note-category-name {
  font-family: Barlow;
  font-weight: 400;
  font-size: 30px;
}
.home {
  text-align: center;
  padding-top: 40px;
  display: flex;
}
.trash-icon {
  width: 28px;
}
.home-title {
  font-family: Barlow;
  font-size: 45px;
  color: rgb(32, 60, 61);;
  padding-top: 150px;
  width: 100%;
}
.task-input {
 height: 40px;
 border-radius: 5px;
 border: none;
 outline: none;
 font-size: 20px;
 margin-left: 50px;
 padding-left: 10px;
}
.name-task {
  color: rgb(32, 60, 61);
  font-size: 20px;
  padding-bottom: 5px;
  padding-left: 5px;
}
.time-input {
  height: 40px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 20px;
  margin-left: 50px;
  padding-left: 10px;
  width: 100px;
 }
 .name-time {
  color: rgb(32, 60, 61);
  font-size: 20px;
  padding-bottom: 5px;
  padding-left: 50px;
}
.name-category {
  text-align: center;
  padding-top: 20px;
  color: rgb(32, 60, 61);
  font-size: 30px;
}
.list-category {
  display: flex;
  gap: 25px;
  text-decoration: none;
  list-style-type: none;
  justify-content: center;
  padding-top: 10px;
  font-size: 20px;
  color: rgb(32, 60, 61);
}
.name-item{
  padding-left: 10px;
}
.text-area-task {

 width: 450px;
 outline: none;
 border: none;
 border-radius: 5px;
 margin-left: 50px;
 margin-top: 20px;
 padding-left: 10px;
 height: 100px;
 resize: none;
 white-space: pre-wrap;
}
.task-btn{
  width: 140px;
  height: 30px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin: auto;
  color: #fff;
  background-color: rgb(38, 128, 131);
}
.note-category-cont {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
  font-size: 30px;
  color: rgb(32, 60, 61);
  font-family: Barlow;
}
.data-cont {
  width: 100%;
  padding: 10px 20px;
  
}
.data-oftasks {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-self  : center;
  background-color: rgb(38, 128, 131);
  height: 40px;
  border-radius: 5px;
}
.data-oftasks-checked {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-self  : center;
  background-color: rgb(8, 122, 27);
  height: 40px;
  border-radius: 5px;
}
.data-task-element {
  color: #fff;
  gap: 22px;
  display: flex;
  
  padding-top: 10px;
  font-family: Barlow;
}
.data-task-element-tag {
  color: rgb(243, 132, 6);
  font-family: Barlow;;
  }